[Desktop Entry]
Encoding=UTF-8
Name=BloGTK 2.0
Comment=GTK Weblog Client
Exec="/home/xadmin/usr/blogtk-2.0/bin/blogtk2"
Terminal=false
Type=Application
Icon=/home/xadmin/usr/blogtk-2.0/data/blogtk-icon.png
StartupNotify=true
Categories=GNOME;Application;Network;
