
[Desktop Entry]
Name=Indicator Remindor
Comment=Indicator Remindor
Terminal=false
Type=Application
Categories=GNOME;Utility;
Exec=indicator-remindor -a
Icon=indicator-remindor
Actions=add;quick;stop;manage;prefs;
X-XFCE-Source=file:///usr/share/applications/indicator-remindor.desktop

Path=
StartupNotify=false

[Desktop Action add]
Name=Add Reminder
Exec=indicator-remindor --add
OnlyShowIn=Unity;

[Desktop Action quick]
Name=Quick Reminder
Exec=indicator-remindor --quick
OnlyShowIn=Unity;

[Desktop Action stop]
Name=Stop Sound
Exec=indicator-remindor --stop
OnlyShowIn=Unity;

[Desktop Action manage]
Name=Manage Reminders
Exec=indicator-remindor --manage
OnlyShowIn=Unity;

[Desktop Action prefs]
Name=Preferences
Exec=indicator-remindor --preferences
OnlyShowIn=Unity;
