
[Desktop Entry]
Encoding=UTF-8
Name=Calendar-Indicator
Version=0.0.9.2
Comment=An indicator for Google Calendar
GenericName=Calendar-Indicator
Terminal=false
Icon=/usr/share/calendar-indicator/icons/calendar-indicator.svg
Type=Application
Exec=/usr/bin/calendar-indicator
Categories=GNOME;GTK;Application;Utils;
X-XFCE-Source=file:///usr/share/applications/Calendar-Indicator.desktop
