
[Desktop Entry]
Name=Parcellite
Comment=Clipboard Manager
Icon=parcellite
Exec=parcellite
Terminal=false
Type=Application
Categories=GTK;GNOME;Application;Utility;
X-XFCE-Source=file:///usr/share/applications/parcellite.desktop
