
[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ
Comment=The Local Install
Exec=/home/xadmin/usr/IntelliJ/bin/idea.sh
Icon=/home/xadmin/usr/IntelliJ/bin/idea.png
Path=
Terminal=false
StartupNotify=false
