
[Desktop Entry]
Encoding=UTF-8
Name=Sublime Text 2
Comment=The Local Install
Exec=/home/xadmin/usr/Sublime_Text_2/sublime_text
Icon=/home/xadmin/usr/Sublime_Text_2/Icon/256x256/sublime_text.png
Categories=Application;Development;Web;Editor
Version=2
Type=Application
Terminal=0
X-XFCE-Source=file:///home/xadmin/.local/share/applications/sublime.desktop
