
[Desktop Entry]
Version=1.0
Type=Application
Name=Spyder
GenericName=Spyder
Comment=Scientific PYthon Development EnviRonment
TryExec=spyder
Exec=spyder
MimeType=application/x-foo;
Categories=Development;Science;IDE;Editor;Qt;
Icon=spyder
X-XFCE-Source=file:///usr/share/applications/spyder.desktop
